
header{
	height: 500px;
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
	background-position: top;
	background-attachment: fixed;
}

header h1{
	margin: 0 auto;
	max-width: 780px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: normal;
	color: white;
	position: relative;
	top: 40%;
}
#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  border-radius:100%;
  border-color: white;
  border: 1px;
}
#name{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:rgb(51, 51, 51);
}
#date{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-style: italic;
	color:rgb(51, 51, 51);
}
hr{
  width: 200px;
  position: relative;
  display: block;
  margin-top: 28px;
  color: #e6e6e6;
  line-height: 24px;
}
section{
	margin: 60px auto;
	display: flex;
	justify-content: center;
}
section span{
  margin-right: 30px;
	margin-left: -60px;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.25);
}
section div{
  width: 66.67%
}
section h1{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: bold;
  color:rgb(51, 51, 51);
}
a{
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: normal;
	color: #42b4d6;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
section p{
	margin-bottom: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 32px;
  color:rgb(51, 51, 51);
}
